.iml
.idea/
.gradle/
build/
desktop/
gradle/
.gradle
.properties
.class
.jar
gradlew
gradlew.bat
amazigh-village-game.iml
amazigh-village-game.ipr
amazigh-village-game.iws
build.gradle
gradle.properties
local.properties
settings.gradle
*.iml
*.apk
